.movieTitles:hover {
  color: red;
}

.jumbotron { 
    background-color: #ffffff; /* white */
}


.jumbotron img {
  display: block;
  margin: 0 auto;
}

.form-center {
  display: block;
  text-align: center;
}

form {
  display: inline-block;
  margin: 0 auto;
}