body {
  background-color: #E5E5E5;
}

.container-fluid {
  margin: 0 auto;
}

.jumbotron { 
    background-color: #ffffff; /* white */
    padding-bottom: 0;
}

.jumbotron p {
  font-size: 12px;
}


.jumbotron img {
  display: block;
  margin: 0 auto;
}

.form-center {
  display: block;
  text-align: center;
}

form {
  display: inline-block;
  margin: 0 auto;
}

#results {
  margin-top: 4em;
  font-family: 'Lato', sans-serif;  
  width: 100%;
  margin: 0 auto;
}

.movies {
  margin-left: 3.33%;
  /*border-top: 1px black solid;*/
}

.movieTitles {
  font-size: 20px;
}

.movieOverviews {
  margin-top: 2em;
}